---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joaquin Ignacio Barrojo Desarrollador Web">
  <section id="inicio" class="min-h-screen flex items-center justify-center">
    <div class="text-center mx-auto">
      <p class="text-blue-600 font-semibold text-lg mb-4 animate-fade-in">¡Hola, soy,</p>
      <h1 class="text-4xl font-bold">Joaquin Ignacio Barrojo</h1>
    </div>
  </section>
</Layout>
